In [1]:
import pandas
sydney = pandas.Series(index=['Mon', 'Tue', 'Wed'], data=[37,38,29])
melbourne = pandas.Series(index=['Sun', 'Mon', 'Tue'], data=[25, 42, 41])

In [2]:
sydney - melbourne

Mon   -5.0
Sun    NaN
Tue   -3.0
Wed    NaN
dtype: float64

In [3]:
sydney + 1

Mon    38
Tue    39
Wed    30
dtype: int64

In [4]:
sydney.min()

29

In [5]:
sydney.idxmin()

'Wed'

In [6]:
(sydney - melbourne).max()

-3.0

In [7]:
sydney > 35

Mon     True
Tue     True
Wed    False
dtype: bool

In [8]:
sydney[sydney > 35]

Mon    37
Tue    38
dtype: int64